*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
#root{
  height: 100vh;
  width: 100vw;
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root > div {
  height: 100px;
  width: 100px;
  margin: 30px;
}